body {
  padding-left: 75px;
  color: white;
  background-color: #333;
}

text {
  fill: white;
} 

button {
  width: 333px;
  height: 30px;
  background-color: grey;
  color: white;
}

#charts {
  position: absolute;
  height: 500px;
}

#intro {
  margin-left: 50px;
  margin-right: 50px;
}

.bubble {
  opacity: .6;
}

.tooltip {
  display: none;
  background: #45484B;
  border: 2px solid white;
  pointer-events: none;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font: bold 10px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}